<div class="welcome mdl-layout mdl-js-layout">
  
  <%= render :partial => 'shared/header' %>
  <%= render :partial => 'shared/nav_js' %>
  
  <div class = "loginwith2">
    <%= render :partial => 'shared/messages' %>
    <%= render :partial => "form_enter_code" %>
  </div>

</div>
