.redeemify-card-square {
  text-align: center;
  display: block;
  margin: 50px auto 25px;
}

.customer-table {
  margin: 20px auto;
  text-align: center;
}

.delete-account {
  font-size: 1em;
  font-weight: 900;
  margin: 25px auto 5px;
}
