body {
  background-color: #ffffff;
  font-family: Helvetica Neue, Arial, Verdana;
  font-size: 12px;
}

img.normal {
  height: auto;
}

a img {
  border: none;
}

a {
  color: #000000;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

textarea {
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
  font-family: Helvetica Neue;
  font-size: 1em;
  padding: 4px 6px;
  transition: background-color 0.5s ease 0s;
}

textarea:focus {
  background: none repeat scroll 0 0 #FFFFFF;
  outline-width: 0;
}

.formcode {
  text-align: center;
  padding-top: 5px
}

#redeemify_logo {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.up_view {
  height: 5em;
  width: 10em;
}

.vendor_home_numcode {
  background: #e5e5e5;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 160px;
  border-radius: 10px;
  margin-top: 15px; 
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5) inset;
  font-family: Helvetica Neue;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 6px;
  text-shadow:#fff 0 1px 0;color:#5e6469
}

.vendor_home_numcode a {
  text-align: left;
  font-size: 12px;
  color: #000000;
}

.vendor_home_numcode a {
  padding-top: 6px
}

.vendor_home_numcode a.r2 {
  padding-top:6px
}

.customer_home_numcode {
  background: #e5e5e5;
  margin-left: auto;
  margin-right: auto;
  width: 220px;
  height: 40px;
  border-radius: 10px;
  margin-top: 15px; 
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5) inset;
  font-family: Helvetica Neue;
  font-size: 12px;
  font-weight: bold;
  padding: 4px 6px;
  text-shadow:#fff 0 1px 0;color:#5e6469
}

.customer_home_numcode p {
  text-align: left;
  font-size: 12px;
  color: #000000;
  margin-left: 10px
}

.customer_home_numcode p.r1 {
  padding-top:10px
}

.customer_home_numcode p.r2 {
  padding-top:6px
}

.field_text {
  width: 200px;
  margin-left: auto;
  margin-right: auto
}

.customer { 
  height: 40px;
  text-align: center;
  width : 300px;
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
  background: #05e177;
  color: #FFFFFF;
  background-position: center;
  margin-top: 10px
}

.customer h1 { 
  margin: 0;
  padding-top: 3px;
  font-family: Helvetica Neue;
  font-size: 30px;
  letter-spacing: 2px
}

.loginwith2 h1 {
  margin: 0;
  padding-top: 3px;
  font-family: Helvetica Neue;
  font-size: 20px;
}

.loginwith3 h4 { 
  margin-top: 10px;
  padding-top: 10px;
  font-family: Helvetica Neue;
  font-size: 20px;
}

#popup1 {
    height: 20px;
    width: 300px;
    text-align: center;
    border-radius: 4px;
    color: white;
    display: none;
    top: 300px;      
    left: 395px;
    border-style: solid;
    position: absolute;
    background-color: #3D6199;
}

#popup2 {
    height: 20px;
    width: 200px;
    text-align: center;
    border-radius: 4px;
    color: white;
    display: none;
    top: 380px;      
    left: 415px;
    border-style: solid;
    position: absolute;
    background-color: #3D6199;
}

#popup3 {
    height: 20px;
    width: 300px;
    text-align: center;
    border-radius: 4px;
    color: white;
    display: none;
    top: 455px;      
    left: 380px;
    border-style: solid;
    position: absolute;
    background-color: #3D6199;
}

#popup4 {
  height: 40px;
  width: 250px;
  text-align: center;
  border-radius: 4px;
  color: white;
  display: none;
  top: 555px;      
  left: 440px;
  border-style: solid;
  position: absolute;
  background-color: #3D6199;
}

#popup5 {
  height: 40px;
  width: 280px;
  text-align: center;
  border-radius: 4px;
  color: white;
  display: none;
  top: 690px;      
  left: 525px;
  border-style: solid;
  position: absolute;
  background-color: #3D6199;
}

#popup6 {
  height: 40px;
  width: 300px;
  text-align: center;
  border-radius: 4px;
  color: white;
  display: none;
  top: 400px;      
  left: 395px;
  border-style: solid;
  position: absolute;
  background-color: #3D6199;
}

span#question {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #89A4CC;
  line-height: 16px;
  color: white;
  font-size: 13px;
  font-weight: bold;
  border-radius: 8px;
  text-align: center;
  position: relative;
}

span#question2 {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #89A4CC;
  line-height: 16px;
  color: White;
  font-size: 13px;
  font-weight: bold;
  border-radius: 8px;
  text-align: center;
  position: relative;
}

span#question3 {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #89A4CC;
  line-height: 16px;
  color: White;
  font-size: 13px;
  font-weight: bold;
  border-radius: 8px;
  text-align: center;
  position: relative;
}

span#question4 {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #89A4CC;
  line-height: 16px;
  color: White;
  font-size: 13px;
  font-weight: bold;
  border-radius: 8px;
  text-align: center;
  position: relative;
}

span#question5 {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #89A4CC;
  line-height: 16px;
  color: White;
  font-size: 13px;
  font-weight: bold;
  border-radius: 8px;
  text-align: center;
  position: relative;
}

span#question:hover {
  background-color: #3D6199;
}

div.tooltip {
  background-color: #3D6199;
  color: White;
  position: absolute;
  left: 25px;
  top: -25px;
  z-index: 1000000;
  width: 250px;
  border-radius: 5px;
}

div.tooltip:before {
  border-color: transparent #3D6199 transparent transparent;
  border-right: 6px solid #3D6199;
  border-style: solid;
  border-width: 6px 6px 6px 0px;
  content: "";
  display: block;
  height: 0;
  width: 0;
  line-height: 0;
  position: absolute;
  top: 40%;
  left: -6px;
}

div.tooltip h3 {
  margin: 10px;
  color: White;
}

.customer_notice {
  color:#757575;
  text-align: center;
  font-weight: 900;
  line-height: 2.5;
}

.middle {
  text-align: center
}

.upload_text {
  font-size: 13px;
  font-family: Helvetica Neue;
  text-align: left;
  margin-left: 300px;
  color: #000000;
  height: 20px;
}

.headerr {
  height: 25px;
  font-family: Helvetica Neue;
  font-size: 12px;
  background: #5a6065;
  color: #FFFFFF
}

.profile {
  margin-left: auto !important;
  margin-right: auto !important;
  position: center;
}

#comment {
  text-align: left;
  display: block;
  width: 40%;
  margin: 0 auto;
  line-height: 1.5;
}

.history {
  text-align: center;
  font-size: 18px
}

.odd_row {
  background: #fff;
  height: 2.5em;
}
.even_row {
  background: #f0f0f0;
  height: 2.5em;
}

.button_customer {width: 150px; margin:auto;}
.button_vendor {width: 120px; margin:auto;}

.button_delete {
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  display: inline-block;
  font-weight: bold;
  font-size: 1.0em;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 12px;
  margin-right: 3px;
  padding: 7px 16px 6px;
  text-decoration: none;
  -webkit-font-smoothing:antialiased;
  background: #fff;
  background:-webkit-linear-gradient(-90deg, #fff, #e7e7e7);
  background:-moz-linear-gradient(-90deg, #fff, #e7e7e7);
  background: linear, -90deg,#fff, #e7e7e7;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='ie-hex-str(#fff)', 
    endColorstr='ie-hex-str(#e7e7e7)');
  -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='ie-hex-str(#fff)', 
    endColorstr='ie-hex-str(#e7e7e7)');
  box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 1px 0 0 rgba(255,255,255,0.8) inset;
  border: solid 1px #c7c7c7;
  border-color: #c7c7c7;
  border-top-color: #d3d3d3;
  border-right-color: #c7c7c7;
  border-bottom-color: #c2c2c2;
  border-left-color: #c7c7c7;
  text-shadow: #fff 0 1px 0;
  color: #5e6469
}

.button_delete:hover {
  background: #fff;
  background:-webkit-linear-gradient(-90deg, #fff, #f1f1f1);
  background:-moz-linear-gradient(-90deg, #fff, #f1f1f1);
  background: linear,-90deg,#fff,#f1f1f1;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='ie-hex-str(#fff)', 
   endColorstr='ie-hex-str(#f1f1f1)');
  -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='ie-hex-str(#fff)', 
    endColorstr='ie-hex-str(#f1f1f1)')
}

.button_delete a:link {
  text-decoration: none
}

.button_confirm {
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  display: inline-block;
  font-weight: bold;
  font-size: 1.0em;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 12px;
  margin-right: 3px;
  padding: 7px 16px 6px;
  text-decoration: none;
  -webkit-font-smoothing:antialiased;
  background: #fff;
  background:-webkit-linear-gradient(-90deg, #fff, #e7e7e7);
  background:-moz-linear-gradient(-90deg, #fff, #e7e7e7);
  background: linear, -90deg, #fff, #e7e7e7;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='ie-hex-str(#fff)', 
    endColorstr='ie-hex-str(#e7e7e7)');
  -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='ie-hex-str(#fff)', 
    endColorstr='ie-hex-str(#e7e7e7)');
  box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 1px 0 0 rgba(255,255,255,0.8) inset;
  border:solid 1px #c7c7c7;
  border-color: #c7c7c7;
  border-top-color: #d3d3d3;
  border-right-color: #c7c7c7;
  border-bottom-color: #c2c2c2;
  border-left-color: #c7c7c7;
  text-shadow: #fff 0 1px 0;
  color: #5e6469;
  height: 12px;
  color :#000;
}

.button_confirm:hover {
  background: #fff;
  background:-webkit-linear-gradient(-90deg, #fff, #f1f1f1);
  background:-moz-linear-gradient(-90deg, #fff, #f1f1f1);
  background: linear, -90deg, #fff, #f1f1f1;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='ie-hex-str(#fff)', 
    endColorstr='ie-hex-str(#f1f1f1)');
  -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='ie-hex-str(#fff)', 
    endColorstr='ie-hex-str(#f1f1f1)');
    cursor: pointer;
}

.button_confirm a:link {
  text-decoration: none
} 

.flash_error {
  background: #ffcccc;
  width: 350px;
  display: block;
  text-align: center;
  margin: 0px auto 0px;
  padding: 5px;
  border-radius: 5px;
  color: black;
}

.flash_notice {
  text-align: center;
  color: green;
}

.notice {
  text-align: center;
  background: #befcc4;
  line-height: 2.5;
}

.warning {
  text-align: center;
  color: #757575;
  line-height: 2.5;
}

.deletepage {
  width: 300px;
  margin: auto;
  text-align: center
}

.oddd {
  background: #f0f0f0;
}

.evenn {
  background: #d7d7d7;
} 

.group-buttons {
  width: 710px;
  margin: auto;
}

.button-single {
  width: 150px;
  margin: auto;
  padding-top: 5px
}

.row1 a:link {
  text-decoration: none;
}

.row1 {
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px;
  display: inline-block;
  font-weight: bold;
  font-size: 1.0em;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 12px;
  margin-right: 3px;
  padding: 7px 16px 6px;
  text-decoration: none;
  -webkit-font-smoothing:antialiased;
  background: #fff;
  background:-webkit-linear-gradient(-90deg, #fff, #e7e7e7);
  background:-moz-linear-gradient(-90deg, #fff, #e7e7e7);
  background: linear, -90deg, #fff, #e7e7e7;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='ie-hex-str(#fff)', 
    endColorstr='ie-hex-str(#e7e7e7)');
  -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='ie-hex-str(#fff)', 
    endColorstr='ie-hex-str(#e7e7e7)');
  box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 1px 0 0 rgba(255,255,255,0.8) inset;
  border: solid 1px #c7c7c7;
  border-color: #c7c7c7;
  border-top-color: #d3d3d3;
  border-right-color: #c7c7c7;
  border-bottom-color: #c2c2c2;
  border-left-color: #c7c7c7;
  text-shadow: #fff 0 1px 0;
  color: #5e6469
}

.row1:hover {
  background: #fff;
  background:-webkit-linear-gradient(-90deg, #fff, #f1f1f1);
  background:-moz-linear-gradient(-90deg, #fff, #f1f1f1);
  background: linear, -90deg, #fff, #f1f1f1;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='ie-hex-str(#fff)', 
    endColorstr='ie-hex-str(#f1f1f1)');
  -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='ie-hex-str(#fff)', 
    endColorstr='ie-hex-str(#f1f1f1)');cursor:pointer;
}

.auth_providers {
  height: 50px;
  width: 540px;
  margin: 2px auto;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.field_with_errors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  /*margin-bottom: 20px;*/
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

form .field, form .actions {
  margin: 12px 0;
}

.center {
  text-align: center;
}

.upload_title {
  text-align: left;
  margin-left: 30%;
  margin-top: 2.5em;
  margin-bottom: 2em;
  font-size: small;
}

.upload_codes {
  text-align: left;
  margin-left: 30%;
  margin-bottom: 2em;
}

.upload_comment {
  text-align: left;
  margin-left: 30%;
  margin-bottom: 1em;
}

.submit {
  text-align: left;
  margin-left: 30%;
  margin-top: 2em;
}

.codes_table {
  width: 95%;
  margin: 2.5em auto;
  
  thead, tr {
    text-align: left;
  }

  td {
    word-break: break-all;
    word-wrap: break-word;
    padding: 2em 0;
  }
  
  td.width_5 {
    width: 5%;
  }
  
  td.width_10 {
    width: 10%;
  }
  
  td.width_20 {
    width: 20%;
  }
  
  td.width_25 {
    width: 25%;
  }
}

.codes_table, th, tr {
  border-collapse: collapse;
}

#barchart_values {
  width: 400px;
  height: 200px;
  margin: 2.5em auto;
}

.links_table {
  margin: 0 auto;
  text-align: center;

  td {
    margin: 0.5em 0.25em;
  }
}

.history_table {
  width: 100%;
  border-collapse: collapse;
  
  td {
    padding-left: 0.5em;
    padding-top: 2em;
    padding-bottom: 2em;
  }
  
  td.width_25 {
    width: 25%;
  }
  
  td.width_50 {
    width: 50%;
  }
}

.textarea_title {
  text-align: left;
  margin-left: 30%;
  margin-top: 1em;
  margin-bottom: 1em;
}

.profile {

  label {
    margin-left: 30%;
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
  }

  input {
    width: 40%;
    margin: 0 auto;
    display: block;
    line-height: 2.5;
    padding-left: 0.5em;
  }
}

dialog {
  position: absolute;
  left: 0; right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  margin: auto;
  border: solid;
  padding: 1em;
  background: white;
  color: black;
  display: none;
}

dialog[open] {
  display: block;
}

dialog + .backdrop {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  background: rgba(0,0,0,0.1);
}

._dialog_overlay {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
}

dialog.fixed {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
}