// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .auth_providers {
//   height: 150px;
// }

.mdl-navigation__link {
  &:link { text-decoration: none; }
}

.mdl-grid {
  max-width: 1000px;
  margin-top: 100px;
}

.mdl-list {
  text-align: center;
  > .mdl-list__item > .mdl-list__item-primary-content { justify-content: center; }
}

/* .sign-home {
  border: 1px solid red;
}

.left-column, .right-column {
  border: 1px solid green;
} */

.auth_provider {
  display: inline-block;
  text-decoration: none;
  padding-top: 5px;
  margin-right: 2px;
  text-align: center;
  margin-bottom: 20px;
}

.fb_login {
  width: 46px;
  height: 46px;
}

.amazon_login {
  width: 43px;
  height: 43px;
}

.twitter_login {
  width: 43px;
  height: 43px;
}

.github_login {
  width: 43px;
  height: 43px;
}