.upload_title {
  text-align: left;
  margin-left: 30%;
  margin-top: 2.5em;
  margin-bottom: 2em;
  font-size: small;
}

.upload_codes {
  text-align: left;
  margin-left: 30%;
  margin-bottom: 2em;
}

.upload_comment {
  text-align: left;
  margin-left: 30%;
  margin-bottom: 1em;
}

.comment {
  text-align: left;
  display: block;
  width: 40%;
  margin: 0 auto;
  line-height: 1.5;
}
