.mdl-navigation__link {
  &:link { text-decoration: none; }
}

.mdl-grid {
  max-width: 1000px;
  margin-top: 100px;
}

.mdl-list {
  text-align: center;
  > .mdl-list__item > .mdl-list__item-primary-content { justify-content: left; }
}

.auth_provider {
  display: inline-block;
  text-decoration: none;
  padding-top: 5px;
  margin-right: 2px;
  text-align: center;
  margin-bottom: 20px;
}

.fb_login {
  width: 46px;
  height: 46px;
}

.amazon_login {
  width: 43px;
  height: 43px;
}

.twitter_login {
  width: 43px;
  height: 43px;
}

.github_login {
  width: 43px;
  height: 43px;
}

// _form_for_redeemify_code.erb

.dialog-window {
  display: block;
  margin: 75px auto 0px;
}

.button-single {
  width: 150px;
  margin: auto;
  padding-top: 5px
}

.redeemify-code-input {
  text-align: center;
  padding-top: 5px
}

.field_text {
  width: 200px;
  margin-left: auto;
  margin-right: auto
}

.show-dialog {
  display: block;
  margin: 375px auto 0px;
  width: 500px;
}
