@font-face {
    font-family: 'Circula';
    src: url('/assets/circula-medium.otf');
    font-weight: normal;
    font-style: normal;
}
body{background-color:#000000;font-family:Verdana, 'Circula', Helvetica, Arial;font-size:24px}

.clear{clear:both;height:0;overflow:hidden}

#flash_notice,#flash_error,#flash_alert{padding:5px 8px;margin:10px 0;margin-right:150px}
#flash_notice{background-color:#CFC;border:solid 1px #6C6}
#flash_error,#flash_alert{background-color:#FCC;border:solid 1px #C66}
.field_with_errors{display:inline}
.error_messages{width:400px;border:2px solid #CF0000;padding:0px;padding-bottom:12px;margin-bottom:20px;background-color:#f0f0f0;font-size:12px}
.error_messages h2{text-align:center;font-weight:bold;padding:5px 10px;font-size:12px;margin:0;background-color:#c00;color:#fff}
.error_messages p{margin:8px 10px}form .field,form .actions{margin:12px 0}
.auth_providers{width: 540px; margin: 2px auto;}
.auth_provider{text-align:center}
.auth_provider img{display: list-item;}
