<header class="mdl-layout__header">
  <div class="mdl-layout-icon"></div>
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title">
      <%= image_tag "logo2.png", alt: "redeemify_logo", id: "redeemify_logo" %>
        Redeemify
    </span>
    <div class="mdl-layout-spacer"></div>
    <nav class="mdl-navigation mdl-layout--large-screen-only">
      <% if current_user %>
        <span class="account">
          Login with: <%= current_user.provider.upcase  %> | 
          Name: <%= current_user.name %> | 
          <%= link_to "Logout", logout_path, :id => "logout", class: "logout" %>
        </span>
      <% else %>
        <a class="mdl-navigation__link" href="/">Home</a>
        <a class="mdl-navigation__link" href="">About</a>
      <% end %>
    </nav>
  </div>
</header>