.field_with_errors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.center {
  text-align: center;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.width5 {
  width: 5%;
}

.width10 {
  width: 10%;
}

.width25 {
  width: 25%;
}

.width50 {
  width: 50%;
}

// view_codes.html.erb

.odd_row {
  background: #fff;
  height: 2.5em;
}

.even_row {
  background: #f0f0f0;
  height: 2.5em;
}

// _messages.html.erb

.error {
  background: #ffcccc;
  width: 350px;
  display: block;
  text-align: center;
  margin: 0px auto 0px;
  padding: 5px;
  border-radius: 5px;
  color: #000;
}

.notice {
  text-align: center;
  background: #befcc4;
  line-height: 2.5;
}

// customer.html.erb

.warning {
  text-align: center;
  color: #757575;
  line-height: 2.5;
}
